/*  your css code here. If applicable */
.container{
	border:5px solid black;
	border-radius:25px;
	background-color:grey;
	box-sizing:border-box;
	padding:70px;
	margin:5px;
	width:60%
}
.green{
	border:1px solid green;
	padding:25px;
	background-color:green;
	display:inline-block;
	height:25%;
	width:0%;
	border-radius:50%;
	text-align:center;
}
	
.yellow{
	border:1px solid yellow;
	padding:25px;
	background-color:yellow;
	display:inline-block;
	height:25%;
	width:0%;
	border-radius:50%;
	justify-items:space-around;
	margin:2px;
	text-align:center;
}
.red{
	border:1px solid red;
	padding:25px;
	background-color:red;
	display:inline-block;
	height:25%;
	width:0%;
	border-radius:50%;
	justify-items:space-around;
	margin:2px;
	text-align:center;
}